extends ./layouts/common

block style
    include ./css/common.css

block content

   

    table#content.table.table-striped.table-bordered

    input#image(type="file", accept=".png,.jpg", multiple)
    button#submit(type="button") Submit

    

block body_continue
    script(src="/views/js/infoUser.js").
        
